node_modules/
frontend/node_modules/
dist/
frontend/dist/

__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

.env
*.log
*.pid

gateway/certs/*
!gateway/certs/.gitkeep

.DS_Store

# notes
# docker-compose.dev.yml